name: 'Submodule - Check'

on:
  workflow_call:

env:
  PYTHON_VERSION: '3.11'

jobs:
  pylint:
    name: 'Pylint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout project sources'
        uses: actions/checkout@v6

      - name: 'Setup Python ${{ env.PYTHON_VERSION }}'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: 'Install dependencies'
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: 'Run Pylint'
        run: make lint

  unitTest:
    name: 'Unit Test'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout project sources'
        uses: actions/checkout@v6

      - name: 'Setup Python ${{ env.PYTHON_VERSION }}'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: 'Install dependencies'
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: 'Test with unittest'
        run: make test

  coverage:
    name: 'Coverage'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout project sources'
        uses: actions/checkout@v6

      - name: 'Setup Python ${{ env.PYTHON_VERSION }}'
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: 'Install dependencies'
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: 'Run tests with coverage'
        run: make test-cov

      - name: 'Upload coverage report to artifacts'
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: htmlcov/
          retention-days: 30
