name: 'Auto Merge'

on:
  workflow_run:
    workflows: [ 'Pull request checks' ]
    types: [ completed ]

jobs:
  merge:
    name: 'Merge'
    runs-on: ubuntu-latest
    steps:
      - name: 'Debug'
        run: |
          echo "github.event.workflow_run.event: ${{ github.event.workflow_run.event }}"
          echo "github.event.workflow_run.conclusion: ${{ github.event.workflow_run.conclusion }}"
          echo "github.event.workflow_run.actor: ${{ github.event.workflow_run.actor }}"
      - name: 'Merge the pull request'
        if: >
          github.event.workflow_run.event == 'pull_request' &&
          github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.actor == 'dependabot[bot]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.check_suite.pull_requests[0].number }}
        run: |
          echo "Merging PR #$PR_NUMBER"
          curl -X PUT \
               -H "Authorization: Bearer $GITHUB_TOKEN" \
               -H "Accept: application/vnd.github+json" \
               https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER/merge \
               -d '{"merge_method": "merge"}'
